/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
    font-family: monospace;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Matrix background */
#matrix-background {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none; /* Allows interaction with content */
}

#menu {
    position: absolute;
    top: 10px; /* Ensure it's at the top */
    left: 50%;  /* Add semicolon here */
    transform: translateX(-50%);
    text-align: center;
}

#menu ul {
    list-style: none;
    margin: 10px;
    padding: 0;
    display: flex;
    gap: 20px;
}

#menu a {
    position: relative;
    padding: 5px 10px;
    display: inline-block;
    text-decoration: none;
    color: #00c3ff;
    font-size: 1.2em;
    transition: transform 0.3s ease, color 0.3s ease;
}

#menu a:hover {
    color: #ffcc00; /* Change color on hover */
    transform: translateY(-3px); /* Move the link up slightly */
}

#menu a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; /* Underline thickness */
    background-color: #00c3ff; /* Underline color */
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

#menu a:hover::after {
    transform: scaleX(1); /* Make the underline appear on hover */
}

/* Main content box */
#main-content {
    position: relative;
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255,255,255,0) /* Semi-transparent black */
    border: 2px solid #00c3ff;
    color: #00c3ff;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.6);
    position: relative;
    z-index: 1; /* Content stays on top of matrix background */
}

/* Header */
header {
    text-align: center;
    padding: 20px;
}

#ascii-name {
    font-size: 2em;
    line-height: 1.2;
    white-space: pre-wrap; /* Preserve spaces and new lines for ASCII Art */
    color: #00c3ff; /* Green text */
}

h2 {
    font-size: 1.5em;
    color: #00c3ff;
    text-align: center;
}

section {
    margin-bottom: 20px;
}

h3 {
    font-size: 1.2em;
    color: #00c3ff;
}

footer {
    text-align: center;
    margin-top: 30px;
    color: #00c3ff;
}

/* Links */
a {
    color: #00c3ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
