/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
    font-family: monospace;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Matrix background */
#matrix-background {
    position: static;
    top: 0;
    width: 140%;
    height: 170%;
    background-size: cover;  /* Ensure the background covers the entire area */
    background-position: center center;  /* Center the background image/animation */
    z-index: -1;
    pointer-events: none; /* Allows interaction with content */
}

/* Navigation Menu */
#menu {
    position: absolute;
    top: 10px; /* Ensure it's at the top */
    left: 50%
    transform: translateX(-50%);
    text-align: center;
}

#menu ul {
    list-style: none;
    margin: 10px;
    padding: 0;
    display: flex;
    gap: 30px;
}

#menu a {
    color: #00c3ff;
    text-decoration: none;
    font-size: 1.2em;
}

#menu a:hover {
    text-decoration: underline;
}

/* Main content box */
#main-content {
    width: 80%;
    margin: 50px auto;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
    border: 2px solid #00c3ff;
    color: #00c3ff;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.6);
    position: relative;
    z-index: 1; /* Content stays on top of matrix background */
}

/* Header */
header {
    text-align: center;
    padding: 20px;
}

#ascii-name {
    font-size: 2em;
    line-height: 1.2;
    white-space: pre-wrap; /* Preserve spaces and new lines for ASCII Art */
    color: #00c3ff; /* Green text */
}

h2 {
    font-size: 1.5em;
    color: #00c3ff;
    text-align: center;
}

section {
    margin-bottom: 20px;
}

h3 {
    font-size: 1.2em;
    color: #00c3ff;
}

footer {
    text-align: center;
    margin-top: 30px;
    color: #00c3ff;
}

/* Links */
a {
    color: #00c3ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
